<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algoritmo de Dijkstra</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

    <h1>Rota Dijkstra</h1>

    <div class="container form-container">
        <form method="POST" action="/" class="form-group">
            <div class="form-group">
                <label for="origem">Origem:</label>
                <input type="text" id="origem" name="origem" class="form-control" placeholder="Digite a cidade de origem" required>
            </div>

            <div class="form-group">
                <label for="destino">Destino:</label>
                <input type="text" id="destino" name="destino" class="form-control" placeholder="Digite a cidade de destino" required>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-lg">Calcular</button>
            </div>
        </form>
    </div>

    <div class="container result">
        {% if caminho %}
            <h2>Resultado:</h2>
            <p>O menor caminho é: {{ caminho_str }}</p>
            <p>Custo do caminho: {{ custo }}</p>
        {% endif %}
    </div>

    <div id="map"></div>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <!--<script src="{{ url_for('static', filename='js/script.js') }}"></script>-->


    <script>
        var map = L.map('map').setView([-27.2156, -49.643], 12);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

            function addPopUps(caminho_pop){
            for (var i = 0; i < caminho_pop.length; i++) {
                let cidade = caminho_pop[i].nome;
                let lat = caminho_pop[i].lat;
                let lon = caminho_pop[i].lon;

                L.marker([lat, lon]).addTo(map)
                    .bindPopup('Cidade: ' + cidade)
                    .openPopup();
            }
        }

        function addPaths(caminho_path){
        var coordenadas = [];
        for (var i = 0; i < caminho_path.length; i++) {
            coordenadas.push([caminho_path[i].lat, caminho_path[i].lon]);
        }

        L.polyline(coordenadas, {color: 'blue'}).addTo(map);

        map.fitBounds(L.polyline(coordenadas).getBounds());
    }

        var caminho = {{ caminho | tojson }};


         addPopUps(caminho);
         addPaths(caminho);



    </script>

    <div class="footer">
        <p>Projeto Universitário - Algoritmo de Dijkstra © 2024</p>
    </div>

</body>
</html>